{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{url 'profile/module/setting' array('m' => 'fr_cp')}">系统设置</a></li>
        <li class="active"><a href="{php echo __WURL('fee');}">退票/改签设置</a></li>
        <li><a href="{php echo __WURL('fee', array('act' => 'add'));}">添加退票/改签设置</a></li>
    </ul>

    <div style="padding-top:15px;"></div>
    <div class="panel panel-default">
            <div class="panel-heading">
                退票/改签设置列表
            </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead class="navbar-inner">
                    <tr>
                        <th style="width:60px;">ID</th>	
                        <th>类型</th>
                        <th>时间</th>
                        <th>计费方式</th>
                        <th>费用</th>
                        <th style="text-align:center;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {if $result['list']}
                    {loop $result['list'] $row}
                        <tr>			
                            <td class="row-first">{$row['id']}</td>
                            <td>{if $row['type'] == 1}改签{else}退票{/if}</td>
                            <td>{$row['time']}分钟</td>
                            <td>{if $row['fee_type'] == 0}百分比{else}固定金额{/if}</td>
                            <td>{if $row['fee_type'] == 0}{$row['fee']}%{else}￥{$row['fee']}{/if}</td>
                            <td align="center">
                                <a href="{php echo __WURL($fr_model, array('act' => 'add', 'id' => $row['id']));}" title="编辑" class='btn btn-default btn-sm'><i class="fa fa-edit"></i></a> 
                                <a href="{php echo __WURL($fr_model, array('act' => 'delete', 'id' => $row['id']));}" title="删除" class='btn btn-default btn-sm' onclick="return confirm('确定要删除吗?')"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {/loop}
                    {else}
                        <tr>
                            <td colspan="6" align='center'>暂无数据</td>
                        </tr>
                    {/if}
                </tbody>
            </table>
            {$result['pager']}
        </div>
    </div>
</div>
{template 'common/footer'}
{template 'web/tips'}